h2:nth-child(2) {
  margin-top: 0 !important;
}

.news-image {
  max-width: 720px;
  margin: 0 auto;
}

.event-badge {
  font-size: 13px;
}

.event-item {
  border: none;
  border-radius: 0;
}

.event-item-heading {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
}

.event-item-blue,
.event-item-dark-blue {
  border-left: 4px solid #2196f3;
}

.event-item-light-blue {
  border-left: 4px solid #d9edf7;
}

.event-item-yellow,
.event-item-dark-yellow {
  border-left: 4px solid #ffeb3b;
}

.event-item-light-yellow {
  border-left: 4px solid #f7ecb5;
}

.event-item-green,
.event-item-dark-green {
  border-left: 4px solid #3c763d;
}

.event-item-light-green {
  border-left: 4px solid #d9eeda;
}

.event-item-gray {
  border-left: 4px solid #ddd;
}

.event-item-title {
  font-size: 20px;
}

.event-item-meta > p {
  font-size: 14px;
}

.event-item-meta .glyphicon {
  padding-right: 5px;
}
