.nav-pills {
  margin-top: 24px;
}

.nav-pills > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabbar > li > a > span.badge {
  margin-left: 10px;
}

span.tag-item {
  margin-right: 5px;
}
