section > h2 {
  border: none;
  padding: 0;
}

.news-image {
  max-width: 720px;
  margin: 0 auto;
}

.panel, .panel-heading, .panel-body {
  border-radius: 0;
}

.event-badge {
  margin-left: 10px;
}

.event-item-list {
  padding: 0;
}

.event-item {
  margin-bottom: 12px;
}

.event-item-heading {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
}

.event-item-blue,
.event-item-dark-blue {
  border-left: 4px solid #2196f3;
}

.event-item-light-blue {
  border-left: 4px solid #d9edf7;
}

.event-item-yellow,
.event-item-dark-yellow {
  border-left: 4px solid #ffeb3b;
}

.event-item-light-yellow {
  border-left: 4px solid #f7ecb5;
}

.event-item-green,
.event-item-dark-green {
  border-left: 4px solid #3c763d;
}

.event-item-light-green {
  border-left: 4px solid #d9eeda;
}

.event-item-gray {
  border-left: 4px solid #ddd;
}

.event-item-title {
  font-size: 20px;
  margin-bottom: 0;
}

.event-item-meta > p {
  font-size: 14px;
  margin-bottom: 0;
}

.event-item-meta .glyphicon {
  padding-right: 5px;
}

.event-item-meta p {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

.event-item-body {
  background-color: #fff;
}

.event-item-body p {
  margin-bottom: 12px;
}
