body {
  margin-top: 80px;
}

a, .btn {
  transition-property: none;
}

.navbar-brand img {
  height: 40px;
  margin-top: 20px;
  margin-left: 15px;
}

.no-transition {
  transition-property: none;
}

.no-display {
  display: none;
}

.no-padding {
  padding: 0;
}

.bg-transparent {
  background-color: transparent;
}

.normal-link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.normal-link:hover, .normal-link:focus {
  color: inherit;
  text-decoration: none;
}

.glyphicon {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  section h1 { font-size: 36px; }
  section h2 { font-size: 30px; }
  section h3 { font-size: 25px; }
  section p, section li { font-size: 18px; }
}

@media screen and (max-width: 767px) {
  section h1 { font-size: 28px; }
  section h2 { font-size: 24px; }
  section h3 { font-size: 23px; }
  section p, section li { font-size: 16px; }
  .jumbotron-btn { font-size: 18px; }
}

h2 {
  padding-bottom: 0.2em;
  border-bottom: 2px dashed #333;
}

table > thead > tr > th, table > tbody > tr > td {
  white-space: nowrap;
}

table tbody tr:hover {
  background-color: #f5f5f5;
}

.panel {
  border-radius: 5px 5px 5px 5px;
  border: none;
}

.panel p {
  margin: 0;
}

.panel-heading {
  border-radius: 5px 5px 0 0;
}

.panel-body {
  border-radius: 0 0 5px 5px;
}

.footer-link {
  display: block;
  font-size: 14px;
}

.commithash {
  font-style: normal;
  text-decoration: none;
}

.commithash:hover {
  text-decoration: underline;
}

.copyright {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
